h1{
    text-align:center;
    text-shadow: 2px 2px #9372a5;
    color:blueviolet;
}

h2{
    text-align:center;
    padding: 30px;
    color:#7277a5;
}

p{
    text-align:center;
    color:#ff0000;
}